body{
    background-color: cadetblue;
}

h1{
    font-family: Garamond;
    font-size: 30px;
}

h4{
    font-family: Garamond;
}

#camera{
    width:500px;
    height:400px;
}

#copyright_footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color:black;
    font-weight: bolder;
}

img{
    box-shadow: 0 6px 8px 0 rgba(2, 2, 2, 0.2);
}

img:hover{
    border-radius: 140px;
}